@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;  /* Para Chrome y Safari */
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;  /* Para Firefox */
}


.menucardShadow {
  box-shadow: 0px 9px 10px 0px rgba(0, 60, 106, 0.07);
}

.boxShadow {
  box-shadow: 0px 9px 10px 0px rgba(0, 60, 106, 0.04);
}

.menu {
  background: #f6f6f6;
  width: 250px;
  padding: 10px 0;
  box-sizing: border-box;
}

.container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
  width:8px;
  height: 20px;
}

.container::-webkit-scrollbar-button:increment,.container::-webkit-scrollbar-button {
  display: none;
} 

.container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #dcdcdc55;
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb:active {
  background-color: #dcdcdcc0;
}

.container::-webkit-scrollbar-track {
  background-color: #F3F3F3;
  border-radius: 10px; 
}

.no-pointer-events {
  pointer-events: none;
}


@layer base {
  h2{
    @apply font-roboto;
    @apply text-32;
    @apply font-bold;
    @apply leading-5xl
  }

  h3{
    @apply font-roboto;
    @apply text-28;
    @apply font-bold;
    @apply leading-3xl
  }

  h5{
    @apply font-roboto;
    @apply text-18;
    @apply font-semibold;
    @apply leading-2xl
  }

  h4{
    @apply font-roboto;
    @apply text-26;
    @apply font-bold;
    @apply leading-29
  }

  h6{
    @apply font-roboto;
    @apply text-base;
    @apply font-light;
    @apply leading-xl
  }


}

@layer components{
  .h2{
    @apply font-roboto;
    @apply text-32;
    @apply font-bold;
    @apply leading-5xl
  }

  .h3{
    @apply font-roboto;
    @apply text-28;
    @apply font-bold;
    @apply leading-3xl
  }

  .h5{
    @apply font-roboto;
    @apply text-18;
    @apply font-semibold;
    @apply leading-2xl
  }

  .h4{
    @apply font-roboto;
    @apply text-26;
    @apply font-bold;
    @apply leading-29
  }

  .h6{
    @apply font-roboto;
    @apply text-base;
    @apply font-light;
    @apply leading-xl
  }
}